@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
  .animation-delay-2s {
    animation-delay: 2s;
  }
  .animation-delay-4s {
    animation-delay: 4s;
  }
}